*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset{
    width: 400px;
    height: 600px;
    box-shadow: 3px 7px 10px 3px #5b5b5b42;
}

fieldset .input{
    display: block;
    border: 1px solid rgba(84, 84, 84, 0.441);
    width: 240px;
    height: 30px;
    margin: 20px;
    border-radius: 5px;

}

fieldset .allInputs{
    height: 100% ;
    display: flex;
    justify-content:center;
    align-items: center;

}

fieldset .checkbox{
    margin-top: 30px;
    margin-left: 20px;
}

fieldset .male{
    margin-left: 20px;
}

fieldset .myinput{
    font-size: 1.2rem;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 5px;
    justify-content: center;
    background: linear-gradient(to right , rgba(58, 58, 58, 0.669), rgba(58, 58, 58, 0.947)) no-repeat;
    background-size: 0;
    background-color: rgb(255, 0, 0);
    transition: all .6s ease;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

fieldset .myinput:hover{
    background-size: 100%;
}